/env/
/venv/
/StyleGAN2/weights/car.npy
/StyleGAN2/weights/cat.npy
/StyleGAN2/weights/church.npy
/StyleGAN2/weights/ffhq.npy
/StyleGAN2/weights/horse.npy
/images/generated/*.jpeg
/images/generated/*.jpg
/images/generated/*.png
/CLIP/CLIP-tf2/
/CLIP/model/
